div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;

	margin: auto;
}

mat-card {
	padding: 15px;
}

#base-card {
	max-width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

#status-text {
	flex-direction: column;
}

#status-text div {
	margin: 20px;
}
