<mat-card>
  <mat-card-header>
    <mat-card-title><strong>Financial Summary</strong></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>
      <mat-card-subtitle><strong>Status Update:</strong></mat-card-subtitle>
      <table>
        <tbody>
          <tr>
            <td>Gross Income:</td>
            <td>${{ statuses().grossIncome }}</td>
          </tr>
          <tr>
            <td>Gross Liabilities:</td>
            <td>${{ statuses().liabilities }}</td>
          </tr>
          <tr>
            <td>Net Income:</td>
            <td>${{ statuses().netIncome }}</td>
          </tr>
        </tbody>
      </table>
      @if(statuses().grossIncome > statuses().liabilities) {
      <p>
        You have ${{ statuses().grossIncome }} total income and ${{
          statuses().liabilities
        }}
        total liabilities <br />
        You're currently taking home ${{ statuses().netIncome }}
      </p>
      } @else {
      <p>
        Uh oh, you're running out of money! <br />
        Currently, you have ${{ statuses().grossIncome }} total income <br />
        and ${{ statuses().liabilities }} total liabilities.
      </p>
      }
      <p>
        You're currently using {{ statuses().netIncomeRatio }}% of your
        earnings. <br />
        {{ statuses().percentOfEarningsGoingToMostCostlyAmount }}% of your
        earnings is going to {{ statuses().mostCostlyName }}.
      </p>

      <button (click)="printStatus(0)">log Current Status</button>
      <button (click)="printStatus(1)">log Projected Status</button>
    </div>
  </mat-card-content>
  <mat-card-content>
    <div>
      <mat-card-subtitle
        ><strong
          ><h2>Current Expenses vs Budget:</h2></strong
        ></mat-card-subtitle
      >

      <table>
        <tbody>
          <tr>
            <td><h3>Current Expenses</h3></td>
          </tr>

          @for(c of comparisons().currentTopExpenses; track c){
          <tr>
            <td>
              {{ c.name }}
            </td>
            <td>
              {{ c.amount }}
            </td>
          </tr>
          }
          <tr>
            <td><h3>Projected Expenses</h3></td>
          </tr>
          @for(p of comparisons().projectedTopExpenses;track p){
          <tr>
            <td>
              {{ p.name }}
            </td>
            <td>
              {{ p.amount }}
            </td>
          </tr>
          }
        </tbody>
      </table>
      <p>
        You are currently spending
        {{ comparisons().currentMostCostlyCategoryAmount }} towards this
        category:
        {{ this.categoryEnumToString(comparisons().currentMostCostlyCategory) }}
        <br />
        How your current spending in other categories rank: <br />
      </p>
      <table>
        <tbody>
          @for(item of comparisons().currentCategorySum;track item; let first =
          $first) { @if (!first){

          <tr>
            <td>
              {{ this.categoryEnumToString(item.category) }}
            </td>
            <td>
              {{ item.amount }}
            </td>
          </tr>
          } }
        </tbody>
      </table>
      <br />
      <p>
        You projected to spend
        {{ comparisons().projectedMostCostlyCategoryAmount }} towards this
        category:
        {{
          this.categoryEnumToString(
            comparisons().projectedMostCostlyCurrentCategoryDisplay
          )
        }}
        <br />
        So far you have spent {{ comparisons().costlyCategoryRatio }}% out of
        your
        {{
          this.categoryEnumToString(
            comparisons().projectedMostCostlyCurrentCategoryDisplay
          )
        }}
        budget
      </p>
    </div>

    <canvas
      baseChart
      [data]="barChartData"
      [options]="barChartOptions"
      [plugins]="barChartPlugins"
      [legend]="barChartLegend"
      [type]="'bar'"
    >
    </canvas>
  </mat-card-content>
</mat-card>
