.navButtons {
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: 0;
	flex-wrap: wrap;
}
.buttonContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 10px;
}
.desktopButton {
	display: flex;
}
.mobileButton {
	display: none;
}
a {
	text-decoration: none;
}
@media (min-width: 500px) and (max-width: 768px) {
	input[type="text"] {
		width: 70%;
	}
}
@media (max-width: 499px) {
	.desktopButton {
		display: none;
	}
	.mobileButton {
		display: flex;
	}
}
