table {
	border: 2px solid rgb(140 140 140);
}

th,
td {
	border: 1px solid rgb(160 160 160);
	max-width: 50%;
}

div {
	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;
}
button {
	margin: 10px;
}
mat-card {
	padding: 10px;
}
