<h3>Add New Expense</h3>

<div>
  <mat-card style="padding: 1rem">
    <mat-form-field appearance="outline">
      <mat-label>Item Name</mat-label>
      <input id="Name" type="text" [(ngModel)]="newItem.name" matInput />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Category</mat-label>
      <mat-select id="Category" [(ngModel)]="newItem.category">
        <mat-option value="0">None</mat-option>
        <mat-option value="1">Living</mat-option>
        <mat-option value="2">Utilities</mat-option>
        <mat-option value="3">Entertainment</mat-option>
        <mat-option value="4">Shopping</mat-option>
        <mat-option value="5">Takeout</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Price</mat-label>
      <input id="Price" type="number" [(ngModel)]="newItem.price" matInput />
    </mat-form-field>
    <div>
      <button id="addButton" (click)="handleSubmit()" mat-fab>
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-card>
</div>
