<p>nav-bar works!</p>

<div className="navButtons">
  <div className="buttonContainer">
    <a [routerLink]="['/expenses']" routerLinkActive="router-link-active">
      <button>Expenses 💳</button>
    </a>
  </div>
  <div className="buttonContainer">
    <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active">
      <button>Dashboard 📊</button>
    </a>
  </div>
  <div className="buttonContainer">
    <a [routerLink]="['/budget']" routerLinkActive="router-link-active">
      <button>Budget 🐖</button>
    </a>
  </div>
</div>
