<h2>Expense History Table</h2>

<div>
  <button (click)="updateTable()" mat-mini-fab matTooltip="Refresh Table">
    <mat-icon>refresh</mat-icon>
  </button>
</div>
<div [style.display]="expenses.length === 0 ? 'flex' : 'none'">
  <mat-spinner></mat-spinner>
</div>
<div [style.display]="expenses.length != 0 ? 'flex' : 'none'">
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      @for (expense of expenses; track $index) {
      <tr>
        <td>{{ expense.id }}</td>
        <td>{{ expense.name }}</td>
        <td>{{ expense.category }}</td>
        <td>{{ expense.price }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>
