<mat-card>
  <mat-card-header> <h3>Your Expenses</h3></mat-card-header>
  <div>
    <mat-card-content>
      <button (click)="updateTable()" mat-mini-fab matTooltip="Refresh Table">
        <mat-icon>refresh</mat-icon>
      </button>
    </mat-card-content>
  </div>
  <div>
    <mat-card-content>
      @if(expenses.length === 0) {
      <div>
        <mat-spinner></mat-spinner>
      </div>
      } @else {
      <div>
        <table>
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Category</th>
              <th>Price</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            @for (expense of expenses; track $index) {
            <tr>
              <td>{{ expense.id }}</td>
              <td>{{ expense.name }}</td>
              <td>
                {{ this.categoryEnumToString(expense.category) }}
              </td>
              <td>{{ expense.price }}</td>
              <td>
                <button
                  mat-fab
                  (click)="deleteRow(expense.id)"
                  style="align-items: center"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
      }
    </mat-card-content>
  </div>
</mat-card>
